@import "css/normalize.scss";
*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

#titre{
    font-family: 'Roboto', sans-serif;
}
@import "css/menu_part_1.scss";
@import "css/menu_part_2.scss";
@import "css/footer.scss";